{% extends "core/base.html" %}
{% block title %}Nodos{% endblock title %}
{% block action_resul %}{% url 'rLista' %}{% endblock %}
{% load static %}
{% load class_name %}
{% block head %}
<script type="text/javascript" src="{% static 'nodos/data/books2.js' %}"></script>
{% endblock %}

<!--Content-->
{% block content %}
<!-- onload - draw() en body de base.html -->
<div class="col-lg-12 col-md-12 snresultados-nodos">
    <h3>Lo sentimos</h3>
    <h5>[ No se han generado coincidencias ]</h5>
</div>
<div class="container nodos-container">

    <!-- Nodos -->
    <div style="background-color: #F1EFEF;" id="mynetwork"></div>
    <pre id="eventSpan"></pre>

    <!-- Modal -->
    <!-- <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-left">
          <div class="w3-container" style="background-color: rgba(217,216,214,0.8)">
            {% comment %} <span style="padding: 10px;" onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">[ Cerrar ]</span> {% endcomment %}
            <div class="col-lg-9 col-md-9 ficha-libro-info ficha-mapa">
              
              <div class="ficha-relaciones">
                <h5>Temas relacionados</h5>
                <a id="relaciones" href="" class="link"></a>
            </div>
              
              <div class="ficha-info-a">
                <div class="ficha ficha-procedencia">
                    
                    <h6>Procedencia</h6>                        
                    <p id="procedencia" class="Editorial"></p>
                    
                </div>
                <div class="ficha ficha-titulo">
                    <h6 id="">Título</h6>
                    <p id="titulo" class="section-heading title"></p>
                </div>
            </div>

              <div class="ficha-info-a">
                <div class="ficha ficha-isbn">
                    
                    <h6>Isbn</h6>
                    <p id="isbn" class="isbn"></p>
                    
                </div>
                <div class="ficha ficha-autor">
                    <h6>Autor</h6>
                    <p id="autor" class="autor"></p>
                </div>                
            </div>
              <div class="ficha-libro-img-mapa col-lg-3 col-md-3 offset-lg-1">
                <img id="imgn" class="" src="" alt="">
            </div>

             Collapsible --
            <button class="collapsible"></button>
                <div class="collap-content">
                    <p class="descripcion" id="descripcion"></p>
                    <p class="link" id="link"></p>
                </div>
              
            </div>

            </div>

        </div>
    </div> -->

    <!-- Error debúsqueda -->
    <div id="bad"></div>

</div>
      
  <!-- Modal relaciones -->
  {% comment %} <div id="id02" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h2 id="categoria"></h2>
      </div>
    </div>
  </div> {% endcomment %}

{% endblock content%}

{% block scripts %}

<!-- Collapsible -->
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
        
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        this.classList.toggle("active-collapsible");
        var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
    }
</script>

{% endblock scripts %}

